table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th,
tbody td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
}

thead th {
  background-color: #f2f2f2;
}

tbody td {
  background-color: #fff;
}

th,
td {
  font-weight: bold;
}

tr:hover {
  background-color: #db4949;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.card:hover {
  background-color: #db4949;
  color: #fff;
}
